In [2]:
import pandas as pd
from scipy.stats import pearsonr

In [3]:
df = pd.read_excel(r"C:\Users\ujan2\OneDrive\Desktop\Python\Quick Commerce Project\Data\rating_transit.xlsx")
df.head()

   CustomerRating  TimeInTransit
0               2             96
1               5            120
2               3            108
3               5             45
4               5             74

In [14]:
df = df.dropna(subset=['CustomerRating','TimeInTransit'])

In [17]:
corr, p_value = pearsonr(df['CustomerRating'], df['TimeInTransit'])
print(f"Correlation Coefficient: {corr:.3f}")
print(f"P-value: {p_value:.3f}")

Correlation Coefficient: 0.003
P-value: 0.920

In [4]:
mean_time = df['TimeInTransit'].mean()
std_time = df['TimeInTransit'].std()

print(f"Mean Delivery Time: {mean_time:.2f}")
print(f"Standard Deviation: {std_time:.2f}")

Mean Delivery Time: 70.43
Standard Deviation: 28.71